<section class="curtain" id="curtain" aria-hidden="true">
    
    <nav class="tabs" role="tablist" aria-label="Categorías de productos">
     
      <button class="tab" role="tab" aria-selected="true" data-target="leche"><i class="fa-solid fa-cow"></i> Ganado Lechero</button>
      <button class="tab" role="tab" aria-selected="false" data-target="engorda"><i class="fa-solid fa-cow"></i> Bobino de Engorda</button>
      <button class="tab" role="tab" aria-selected="false" data-target="porcinos"><i class="fa-solid fa-piggy-bank"></i> Levaduras</button>
      <button class="tab" role="tab" aria-selected="false" data-target="ovinos"><i class="fa-solid fa-paw"></i> Ovinos</button>
      
      <button class="tab" role="tab" aria-selected="false" data-target="equinos"><i class="fa-solid fa-horse"></i> Equinos</button>
      
    </nav>

    <div class="tab-panels">
      <div id="leche" class="panel active" role="tabpanel">
        <h3>Ganado Lechero</h3>
        
      </div>

      <div id="engorda" class="panel" role="tabpanel" hidden>
        <h3>Ganado de Engorda</h3>
        <div class="products-list">
          <ul>
            <li><i class="fa-solid fa-drumstick-bite"></i> PX Carne C15</li>
            
          </ul>
        </div>
      </div>

      <div id="porcinos" class="panel" role="tabpanel" hidden>
        <h3>Levaduras</h3>
        <div class="products-list">
          <ul>
            <li><i class="fa-solid fa-bacon"></i> BY WAYS</li>
            
          </ul>
        </div>
      </div>

      <div id="ovinos" class="panel" role="tabpanel" hidden>
        <h3>Ovinos</h3>
        <div class="products-list">
          <ul>
            <li><i class="fa-solid fa-paw"></i> Nucleo mineral para ovinos</li>
            
          </ul>
        </div>
      </div>

      <div id="aves" class="panel" role="tabpanel" hidden>
        <h3>Aves</h3>
        <div class="products-list">
          <ul>
            <li><i class="fa-solid fa-egg"></i> Huevos frescos</li>
            <li><i class="fa-solid fa-drumstick-bite"></i> Pollo entero</li>
            <li><i class="fa-solid fa-utensils"></i> Pechugas de pollo</li>
          </ul>
        </div>
      </div>

      <div id="equinos" class="panel" role="tabpanel" hidden>
        <h3>Equinos</h3>
        <div class="products-list">
          <ul>
            <li><i class="fa-solid fa-horse"></i> Premix Equinos</li>
            
          </ul>
        </div>
      </div>

      <div id="acuicultura" class="panel" role="tabpanel" hidden>
        <h3>Acuicultura</h3>
        <div class="products-list">
          <ul>
            <li><i class="fa-solid fa-fish"></i> Salmón fresco</li>
            <li><i class="fa-solid fa-shrimp"></i> Camarones</li>
            <li><i class="fa-solid fa-water"></i> Algas marinas</li>
          </ul>
        </div>
      </div>
    </div>
  </section>